<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
          <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
          <strong style="font-size: 30px;">Flipzon</strong>
      </div>
  </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Flipzon Login</h1><hr>

                </div>
                <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                  </form>
                  <a style="color: blue; margin-top: 10px;" routerLink="/signup">New User? Click to signup!!</a>
            </div>
        </div>
    </div>
</div>