<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
            <strong style="font-size: 30px;">Flipzon</strong>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Bill</h1><hr>

                </div>
                <form>
                    <div class="mb-3">
                        <button (click)="cont()" type="submit" class="btn btn-primary">Continue shopping</button>
                    </div>
                  </form>
                 
            </div>
        </div>
    </div>
</div>