<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
          <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
          <strong style="font-size: 30px;">Flipzon</strong>
      </div>
  </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Flipzon Signup</h1><hr>

                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                      <label  class="form-label">Name</label>
                      <input formControlName="name" type="email" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">User Id</label>
                        <input formControlName="userid" type="email" class="form-control" id="exampleInputIserid1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label  class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                  </form>
                  <a routerLink="/login">Already member? Click to login!!</a>
            </div>
        </div>
    </div>
</div>